/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#gcwc-integration-connection
{
    font-size: 10px;
    color: darkslategray;
    display: block;
    margin: 20px 0 -5px 0;
}

#gcwc-integration-connection:before
{
    color: green;
    margin-right: 5px;
}

#gcwc-import-area
{
    display: block;
    width: fit-content;
}

#gcwc-import-area span
{
    display: inline-block;
    padding: 5px;
}

#gcwc-button-nfe.dashicons-before:before
{
    line-height: 29px;
    float: right;
    margin-left: 5px;
    margin-right: -4px;
}