.gcw-quote-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
    grid-template-rows: min-content;
    flex-wrap: wrap;
}

.gcw-quote-section-items {
    width: 100%;
}

.gcw-field-wrap label {
    display: block;
    margin-bottom: 10px;
}

#gcw-quote-section-items .gcw-quote-fieldset {
    padding: 25px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    position: relative;
}

#gcw-quote-section-items .gcw-quote-fieldset .gcw-field-wrap {
    display: inline-block;
    vertical-align: top;
    min-width: 35%;
    margin-right: 25px;
}

#gcw-quote-section-items .gcw-quote-fieldset .gcw-field-size {
    min-width: 100px;
    width: 100px;
}

#gcw-quote-section-items .gcw-quote-fieldset .gcw-field-quantity {
    min-width: 100px;
    width: 100px;
}

#gcw-quote-section-items .gcw-quote-fieldset a.gcw-quote-button-remove {
    position: absolute;
    background-color: #ccc;
    color: #888;
    top: -7px;
    right: 5px;
    border-radius: 7px;
    text-decoration: none; 
    width: 30px;
    height: 30px;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
}

#gcw-quote-section-items .gcw-quote-fieldset a.gcw-quote-button-remove:hover {
    color:lightcoral;
}

a#gcw-quote-add-item:before {
    content: '+';
    margin-right: 7px;
    padding-bottom: 2px;
}

a#gcw-quote-add-item {
    display: block;
    width: fit-content;
    color:slategrey;
    border: 1px solid #ccc;
    text-decoration: none;
    padding: 7px 13px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 15px;
    font-size: 11px;
    text-transform: uppercase;
}

a#gcw-quote-add-item:hover {
    border-color: var(--ry-color-1);
}

button#gcw-quote-send {
    color: #fff;
    background-color: var(--ry-color-2);
    text-decoration: none;
    padding: 15px 18px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 50px;
    font-family: unset;
}

button#gcw-quote-send:hover {
    color: var(--ry-color-2);
    background-color: var(--ry-color-1);
}