/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#wck_settings {
    margin-top: 16px;
}

.wck-integration-title {
    display: inline;
    padding-top: 20px;
}

.wck-integration-connection {
    font-size: 10px;
    color: darkslategray;
}

.wck-integration-connection:before {
    color: green;
    margin: 0 5px;
 }